* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: var(--f1);
}

/* VARIABLES: Colors | Fonts */
:root {
    --p1: #06283D;
    --p2: #1363DF;
    --p3: #47B5FF;
    --p4: #DFF6FF;
    --p5: #FAFAFA;
    --p6: #C7EEFF;
    --p6: #0077C0;
    --p7: #1D242B;
    --p8: #F0F87F;
    --p9: #4BC87F;
    --p10: #29668B;
    --p11: #6EAFF7;
    --f1: 'Poppins', sans-serif;
}

/* SCROLL BAR | GRADIENT BACKGROUND */
body {
    overflow-y: auto;
    overflow-x: hidden; 
}

#grid-nav { grid-area: nav;}
#grid-side { grid-area: side;}
#grid-main { grid-area: main;}

#grid {
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav'
    'side side main main main';
    background-image: linear-gradient(135deg, var(--p1), var(--p1), var(--p2));
}

/* TOP NAVBAR SETTINGS */

/* My Professional Logo */
#logo {
    position: relative;
    height: auto;
    width: 30px;
    margin-right: 100%;
    top: 0;
}

/* MAIN NAVBAR: Position | Alignment | Background */
nav {
    position: fixed;
    top: 5px;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0px 50px;
    background-color: none;
    background-image: none;
}

/* Navigation Menu Position */
nav > div {
    display: flex;
    align-items: center;
}

/* Navigation Menu Spacing */
nav > div > a:not(:first-child), div.dropdown {
    margin-left: 10px;
}

/* Tweak vertical alignment */
div.dropdown {
    top: -0.5px;
}

/* Not-visted | Visited */
nav div a:link:not(.dropdown-content), nav div a:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 10pt;
    color: var(--p5);
}

/* Active / Current Page */
.active {
    transform: scale(1.5);
    position: relative;
    border: solid var(--p2);
    border-width: 0 0 2px 0;
    height: 1.4em;
    margin-right: 15px;
    margin-left: 15px;
    top: 1px;
}

/* Hover */
nav div a:hover:not(.active), div.dropdown:hover {
    transition: 0.1s;
    transform: scale(1.5);
    position: relative;
    top: 0px;
    padding: 0 20px 0 20px;
}

nav div a:nth-child(2):hover {
    padding: 0 10px 0 5px
}

/* Tweak vertical alignment */
.dropdown:hover {
    top: -2px;
}

/* Dropdown-Content-Hover position adjustment */
.dropdown a:hover {
    padding-right: 0px;
    padding-left: 0px;
}

/* Dropdown-Content position */
.dropdown-content {
    position: absolute;
}

/* Dropdown-Content List Behavior and Appearance */
.dropdown-content a:hover {
    border-color: var(--p8);
    border-style: solid;
    border-width: 0 0 0 2px;
    padding-left: 3px !important;
}

/* Dropdown-Content Not-Hovered */
.dropdown .dropdown-content {
    display: none;
}

/* Dropdown-Content Appearance */
.dropdown-content a {
    display: block;
    text-transform: capitalize;
    width: 200%;
    font-size: 10px;
    transition: 0.1s;
    transform: scale(1);
    position: relative;
    top: 0;
    padding-right: 0px;
    padding-left: 0px;
}

/* Dropdown-Content Hover Enable Display*/
.dropdown:hover .dropdown-content {
    display: block;
}

.icon {
    width: 1.28571429em;
    text-align: center;
}

