* {
    box-sizing: border-box;
    /* animation-name: bgcolor;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
    font-family: var(--f1);

}

/* BG-COLOR ANIMATION */
@keyframes bgcolor {
    0% {background-color: var(--p1);}
    50% {background-color: var(--p2);}
    100% {background-color: var(--p1);}
}

/* VARIABLES: Colors | Fonts */
:root {
    --p1: #06283D;
    --p2: #1363DF;
    --p3: #47B5FF;
    --p4: #DFF6FF;
    --p5: #FAFAFA;
    --p6: #C7EEFF;
    --p6: #0077C0;
    --p7: #1D242B;
    --p8: #F0F87F;
    --p9: #4BC87F;
    --p10: #29668B;
    --p11: #6EAFF7;
    --f1: 'Poppins', sans-serif;
}

/* SCROLL BAR | GRADIENT BACKGROUND */
#body {
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
    background-image: linear-gradient(135deg, var(--p1), var(--p1), var(--p2));
    height: 100vh;
}

/* TOP NAVBAR SETTINGS */

/* My Professional Logo */
#logo {
    position: relative;
    height: auto;
    width: 40px;
    margin-right: 100%;
    top: 5px;
}

/* MAIN NAVBAR: Position | Alignment | Background */
nav {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 6px 50px;
    background-color: none;
    background-image: none;
}

/* Navigation Menu Position */
nav > div {
    display: flex;
    align-items: center;
}

/* Navigation Menu Spacing */
nav > div > a:not(:first-child), div.dropdown {
    margin-left: 20px;
}

/* Not-visted | Visited */
nav div a:link:not(.dropdown-content), nav div a:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--p5);
}

/* Active / Current Page */
.active {
    transform: scale(1.5);
    position: relative;
    border: solid var(--p2);
    border-width: 0 0 3px 0;
    margin-right: 15px;
    margin-left: 15px;
}

/* Hover */
nav div a:hover:not(.active), div.dropdown:hover {
    transition: 0.1s;
    transform: scale(1.5);
    position: relative;
    top: 0px;
    padding: 0 30px 0 30px;
}

/* Tweak vertical alignment */
div.dropdown:hover {
    top: -2.5px;
}

/* Dropdown-Content-Hover position adjustment */
#body div.dropdown a:hover {
    padding-right: 0px;
    padding-left: 0px;
}

/* Dropdown-Content position */
div.dropdown-content {
    position: absolute;
}

/* Dropdown-Content List Behavior and Appearance */
.dropdown-content a:hover {
    border-color: var(--p3);
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-left: 5px !important;
}

/* Dropdown-Content Not-Hovered */
#body div.dropdown div.dropdown-content {
    display: none;
}

/* Dropdown-Content Appearance */
#body div.dropdown div.dropdown-content a {
    display: block;
    text-transform: capitalize;
    width: 200%;
    font-size: 10px;
    transition: 0.1s;
    transform: scale(1);
    position: relative;
    top: 0;
    padding-right: 0px;
    padding-left: 0px;
}

/* Dropdown-Content Hover Enable Display*/
#body div.dropdown:hover div.dropdown-content {
    display: block;
}

/* MAIN CONTENT */

/* Main Image */
#main img {
    position: absolute;
    height: 80%;
    width: auto;
    bottom: 0%;
    right: -5%;
    margin-left: auto;
}

/* Positioning of Name | Short Description | Profile Buttons */
#intro {
    position: absolute;
    z-index: 2;
    padding-left: 50px;
    width: auto;
    top: 50%;
}

/* My Name */
#name {
    color: var(--p3);
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: -1px;
}

/* Short Discription */
#intro p {
    padding-left: 10px;
    margin-left: 5px;
    border-left: var(--p5) solid 2px;
    color: var(--p5);
    font-size: 1rem
}

/* Expertise */
#intro p span {
    font-weight: 700;
    color: var(--p3);
}

/* Profile Buttons */
.profileButton {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    margin-left: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.profileButton a {
    text-decoration: none;
}

/* Profile Buttion Animation */
.profileButton:hover span {
    padding-right: 25px;
}

/* Arrow-right animation */
.profileButton span:after {
    content: '\00bb';
    position: absolute;
    font-size: 1.8em;
    opacity: 0;
    top: 0%;
    right: 27px;
    transition: 0.5s;
}

/* Show arrow-right on button hover */
.profileButton:hover span:after {
    opacity: 1;
    right: 20px;
}

/* CURRICULUM VITAE Button */
.cv {
    background-color: var(--p10);
}

.cv a, .cv a:hover {
    color: var(--p5);
}

/* CV Button hover behavior */
.cv:hover {
    background-image: linear-gradient(90deg, var(--p10), var(--p11));
    transition: 0.5s;
}

/* WEB/SOFTWARE DEVELOPER Button */
.dev {
    background-color: var(--p9);
}

.dev a, .dev a:hover {
    color: var(--p7);
}

/* Dev Button hover behavior */
.dev:hover {
    background-image: linear-gradient(90deg, var(--p9), #affd70);
    transition: 0.5s;
}

/* GRAPHIC DESIGNER Button */
.graphics {
    background-color: var(--p8);
}

.graphics a, .graphics a:hover {
    color: var(--p7);
}

/* Graphic Button hover behavior */
.graphics:hover {
    background-image: linear-gradient(90deg, var(--p8), #ffcd44);
    transition: 0.5s;
}