* {
    box-sizing: border-box;
    /* animation-name: bgcolor;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
    font-family: var(--f1);

}


/* bg color animation */
@keyframes bgcolor {
    0% {background-color: var(--p1);}
    50% {background-color: var(--p2);}
    100% {background-color: var(--p1);}
}

/* variables */
:root {
    --p1: #06283D;
    --p2: #1363DF;
    --p3: #47B5FF;
    --p4: #DFF6FF;
    --p5: #FAFAFA;
    --p6: #C7EEFF;
    --p6: #0077C0;
    --p7: #1D242B;
    --p8: #F0F87F;
    --p9: #4BC87F;
    --p10: #29668B;
    --p11: #6EAFF7;
    --f1: font-family: 'Poppins', sans-serif;
}

/* scroll bars */
body {
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
}

/* background color/image */
#mainBackground {
    background-image: radial-gradient(farthest-side at 90% 70%, var(--p2) 40%, var(--p1));
    height: 100vh;
}

/* top navigation bar */
nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Add this line to distribute items */
    align-items: center; /* Add this line to vertically align items */
    padding: 10px; /* Add padding to create space around the elements */
    background-color: none;
    background-image: none;
}
  
#logo {
    height: auto;
    width: 100px; /* Adjust the width as needed */
    margin-right: 100%;
}
  
nav > div {
    display: flex;
    align-items: center; /* Add this line to vertically align items */
}
  
nav > div > a:not(:first-child) {
    margin-left: 10px; /* Add margin between links */
}


/* main */
#main {
    z-index: 5;
    display: flex;
    height: 100%;
}

#main img {
    position: absolute;
    height: 80%;
    width: auto;
    bottom: 0%;
    right: -5%;
    margin-left: auto; /* Adjust the positioning to the right */
}

#welcome {
    position: absolute;
    z-index: 2;
    padding-left: 50px;
    width: auto;
    top: 50%;
}

/* my name */
#name {
    color: var(--p3);
    font-weight: 900;
    font-size: 50pt;
}

/* my discription */
#welcome p {
    padding-left: 10px;
    margin-left: 5px;
    border-left: var(--p5) solid 2px;
    color: var(--p5);
}

#welcome p span {
    font-weight: 700;
    color: var(--p6);
}

/* profile buttons */
.profileButton {
    border-radius: 50px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.profileButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.profileButton span:after {
    content: '\00bb';
    position: absolute;
    font-size: 2.2em;
    opacity: 0;
    top: 0%;
    right: 27px;
    transition: 0.5s;
  }
  
.profileButton:hover span {
    padding-right: 25px;
  }
  
.profileButton:hover span:after {
    opacity: 1;
    right: 20px;
  }

.cv {
    background-color: var(--p10);
    color: var(--p5);
}

.cv:hover {
    background-image: linear-gradient(90deg, var(--p10), var(--p11));
    transition: 0.5s;
}

.dev {
    background-color: var(--p9);
    color: var(--p7);
}

.dev:hover {
    background-image: linear-gradient(90deg, var(--p9), #affd70);
    transition: 0.5s;
}

.graphics {
    background-color: var(--p8);
    color: var(--p7);
}

.graphics:hover {
    background-image: linear-gradient(90deg, var(--p8), #ffcd44);
    transition: 0.5s;
}