* {
    box-sizing: border-box;
    /* animation-name: bgcolor;
    animation-duration: 10s;
    animation-iteration-count: infinite; */

}

/* bg color animation */
@keyframes bgcolor {
    0% {background-color: var(--p1);}
    50% {background-color: var(--p2);}
    100% {background-color: var(--p1);}
}

/* variables */
:root {
    --p1: #06283D;
    --p2: #1363DF;
    --p3: #47B5FF;
    --p4: #DFF6FF;
}

/* scroll bars */
body {
    overflow-y: auto;
    overflow-x: hidden; 
    margin: 0;
}

/* background color/image */
#mainBackground {
    background-image: linear-gradient(135deg, var(--p1), var(--p1), var(--p2));
    height: 100vh;
}

/* top navigation bar */
nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Add this line to distribute items */
    align-items: center; /* Add this line to vertically align items */
    padding: 10px; /* Add padding to create space around the elements */
    background-color: none;
    background-image: none;
}
  
#logo {
    height: auto;
    width: 100px; /* Adjust the width as needed */
    margin-right: 100%;
}
  
nav > div {
    display: flex;
    align-items: center; /* Add this line to vertically align items */
}
  
nav > div > a:not(:first-child) {
    margin-left: 10px; /* Add margin between links */
}


/* main */
#main {
    z-index: 5;
    display: flex;
    height: 100%;
}

#main img {
    position: absolute;
    height: 80%;
    width: auto;
    bottom: 0%;
    right: -5%;
    margin-left: auto; /* Adjust the positioning to the right */
}

#welcome {
    position: absolute;
    z-index: 2;
    padding-left: 50px;
    width: 40%;
    top: 50%;
}